$scoreWidth : 60px;
$scoreHeight : 90px;

$colorHF : #ffffff;
// $colorHF : #9D7987;
$colorBody : #ffffff;
// $colorBody : #FFDDCE;
$colorMoku : #ffffff;
$colorLine : #000000;
$colorPlaceholder : #AFAFAF;
$colorCorrect : #F39696;
$colorCorrect2 : #FAD0D0;
$colorIncorrect : #96C9F3;
$colorIncorrect2 : #D3E7F7;
$colorBorder : #808080;
$colorFontBase : #808080;

// $colorHF : #9D7987;
// $colorBody : #FFF7E9;
// $colorLine : #ffffff;

.cTierText {
    padding: 0px 20px;
    display: flex;
    align-items:center;
    background-color: #74b9ff;
    color : #2d3436;
    white-space: nowrap;
}

.playBgCorrect {
    background-image: url(../img/gif/correct.gif)
}

.playBgIncorrect {
    background-image: url(../img/gif/incorrect.gif)
}

.bgColorHF {
    background-color: $colorHF;
}

.bgColorBase {
    background-color: $colorBody;
}

.bgColorMoku {
    background-color: $colorMoku;
}

.bgColorLine {
    background-color: $colorLine;
}

.fc {
    color : $colorFontBase;
}

.fc_white {
	color : #ffffff;
}

input {
    color : $colorFontBase !important;
}

textarea {
    color :$colorFontBase;
}



/* 共通 */
body {
    color : $colorFontBase !important;
    border-color : $colorBorder !important;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.grayBar {
    background-color: $colorBorder;
    height:2px;
    opacity:0.1;
    margin:16px 0 13px 0;
}

.grayBar {
    background-color: $colorBorder;
    height:2px;
    opacity:0.1;
    margin:8px 0 8px 0;
}

.bo2 {
    border : 2px solid $colorBorder;
}
.bo3 {
    border : 3px solid $colorBorder;
}

.form-check-input:checked {
    background-color: $colorIncorrect;
    border-color: $colorIncorrect;
}

.edit_frame {
    width:95%;
    border-radius: 10px;
    border: 2px solid $colorBorder;
    margin:auto;
    text-align:left;
    background-color:#ffffff;
    padding:15px;
}

.choice_base {
    border-color: $colorBorder;
    border-radius: 10px;
    background-color: white;
    padding:10px;
    text-align:left;
}

.choice_normal {
    border-color: $colorBorder;
    background-color: white;

}

.choice_select {
    border-color: $colorIncorrect;
    background-color : $colorIncorrect2;
}

.choice_correct {
    border-color: $colorCorrect;
    background-color: $colorCorrect2;
}

input::placeholder, textarea::placeholder {
    color: $colorPlaceholder !important;
}
:-ms-input-placeholder {
    color: $colorPlaceholder !important;
}

.errMsg {
    color : $colorCorrect;
    margin: 0 0;
}

.link {
    cursor: pointer;
	color: $colorCorrect;
}

.frame_red {
    border-color: $colorCorrect !important;
}

.link_red {
    cursor: pointer;
	color: $colorCorrect;
}

.btnBase {
    height: 32px;
    padding: 7px 15px;
    display: inline-block;
    color: #636e72 !important;
    text-decoration: none;
    font-weight: bold;
    font-size:12px;
    border-radius: 10px;
    text-align:center;
    text-decoration:none !important;
    background-color: #dfe6e9;
    border : 2px solid #636e72;
}

// .btnBase > span {
//     margin: 5px 10px 5px 10px;
// }

.btnBase > p {
    margin: 0px;
}

.btnBase:active {
	background-color: #FEFFBD;
}

.btnRed {
	// border-color: $colorBorder !important;
    background-color: white;
    color:$colorCorrect;
    border-color: $colorCorrect;
}

.btnNegative {
	border-color: $colorBorder !important;
    background-color: $colorBorder !important;
    color:#ffffff;
}

.btnGray {
    border-color: $colorBorder;
    color:$colorBorder;
}

#overlay{
    /*要素を重ねた時の順番*/
    z-index:9999;

    /*画面全体を覆う設定*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /* background-color:rgba(255, 255, 255, 0.5); */
    background-color:rgba(0, 0, 0, 0.5);

    /*画面の中央に要素を表示させる設定*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    z-index:9998;
    padding: 1em;
    /* background:#fff; */
    border-radius: 6px;
}

.modalBg {
    overflow-y: hidden;
}
  
.bar {
    margin:0px auto 5px;
    height: 2px;
    background-color:white;
    border:none;
}

.search_box {
    display: inline-block; /* なくても大丈夫だけど、念の為 */
    position: relative;    /* 基準値とする */
    padding-bottom:10px;
}

.search_box::before {
    content: "";           /* 疑似要素に必須 */
    width: 16px;           /* アイコンの横幅 */
    height: 16px;          /* アイコンの高さ */
    background: url(../app/img/icon_search.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
    display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;    /* 相対位置に指定 */
    top: 8px;              /* アイコンの位置。微調整してね */
    left: 5px;             /* アイコンの位置。微調整してね */
}

.search_box input, .search_box input:focus {
    color: #ffffff;
    background-color: #323234;
    padding: 5px 0px 5px 2em; /* アイコンを設置するため左の余白を多めに指定*/
}

.search_box input::placeholder {
    color: rgb(166, 166, 166);
}















.score_num {
	/* display: inline-block; */
	/* content: ""; */
	width: $scoreWidth;
	height: $scoreHeight;
    display: inline-block;
    /* cursor:pointer; */
	background-image: url("../img/score_num.png");
	// background-image: url("../img/score_num.png");
	background-size: ($scoreWidth * 6) ($scoreHeight * 2);
	background-repeat: no-repeat;
	/* 1200 600  200 300 */
}
.score_num_0 {background-position : ($scoreWidth * -0) ($scoreHeight * -0)}
.score_num_1 {background-position : ($scoreWidth * -1) ($scoreHeight * -0)}
.score_num_2 {background-position : ($scoreWidth * -2) ($scoreHeight * -0)}
.score_num_3 {background-position : ($scoreWidth * -3) ($scoreHeight * -0)}
.score_num_4 {background-position : ($scoreWidth * -4) ($scoreHeight * -0)}
.score_num_5 {background-position : ($scoreWidth * -5) ($scoreHeight * -0)}
.score_num_6 {background-position : ($scoreWidth * -0) ($scoreHeight * -1)}
.score_num_7 {background-position : ($scoreWidth * -1) ($scoreHeight * -1)}
.score_num_8 {background-position : ($scoreWidth * -2) ($scoreHeight * -1)}
.score_num_9 {background-position : ($scoreWidth * -3) ($scoreHeight * -1)}
.score_num_none {background-position : ($scoreWidth * -4) ($scoreHeight * -1)}
.score_num_ten {background-position : ($scoreWidth * -5) ($scoreHeight * -1)}

$playCharaWidth:60vw;
$playCharaHeight:$playCharaWidth * 0.2;
.play_chara {
	/* display: inline-block; */
	/* content: ""; */
	margin-bottom:0px;
	width: $playCharaWidth;
	height: $playCharaHeight;
    display: inline-block;
    /* cursor:pointer; */
	background-image: url("../app/img/play_chara.png");
	// background-image: url("../img/score_num.png");
	background-size: ($playCharaWidth) ($playCharaHeight * 5);
	background-repeat: no-repeat;
	/* 1200 600  200 300 */
}
.play_chara_init {background-position : ($playCharaWidth * -0) ($playCharaHeight * -0)}
.play_chara_normal {background-position : ($playCharaWidth * -0) ($playCharaHeight * -1)}
.play_chara_correct {background-position : ($playCharaWidth * -0) ($playCharaHeight * -2)}
.play_chara_incorrect {background-position : ($playCharaWidth * -0) ($playCharaHeight * -3)}
.play_chara_result {background-position : ($playCharaWidth * -0) ($playCharaHeight * -4)}


.backgroundBase {
	background-image: url("../app/img/bg_normal.png");
	background-repeat: repeat;
}

.backgroundCorrect {
	background-image: url("../app/img/bg_correct.png");
	background-repeat: repeat;
}

.backgroundIncorrect {
	background-image: url("../app/img/bg_incorrect.png");
	background-repeat: repeat;
}