@charset "UTF-8";
.cTierText {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  background-color: #74b9ff;
  color: #2d3436;
  white-space: nowrap;
}

.playBgCorrect {
  background-image: url(../img/gif/correct.gif);
}

.playBgIncorrect {
  background-image: url(../img/gif/incorrect.gif);
}

.bgColorHF {
  background-color: #ffffff;
}

.bgColorBase {
  background-color: #ffffff;
}

.bgColorMoku {
  background-color: #ffffff;
}

.bgColorLine {
  background-color: #000000;
}

.fc {
  color: #808080;
}

.fc_white {
  color: #ffffff;
}

textarea {
  color: #808080;
}

/* 共通 */
body {
  color: #808080 !important;
  border-color: #808080 !important;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.grayBar {
  background-color: #808080;
  height: 2px;
  opacity: 0.1;
  margin: 16px 0 13px 0;
}

.grayBar {
  background-color: #808080;
  height: 2px;
  opacity: 0.1;
  margin: 8px 0 8px 0;
}

.bo2 {
  border: 2px solid #808080;
}

.bo3 {
  border: 3px solid #808080;
}

.form-check-input:checked {
  background-color: #96C9F3;
  border-color: #96C9F3;
}

.edit_frame {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #808080;
  margin: auto;
  text-align: left;
  background-color: #ffffff;
  padding: 15px;
}

.choice_base {
  border-color: #808080;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: left;
}

.choice_normal {
  border-color: #808080;
  background-color: white;
}

.choice_select {
  border-color: #96C9F3;
  background-color: #D3E7F7;
}

.choice_correct {
  border-color: #F39696;
  background-color: #FAD0D0;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #AFAFAF !important;
}

input::placeholder, textarea::placeholder {
  color: #AFAFAF !important;
}

:-ms-input-placeholder {
  color: #AFAFAF !important;
}

.errMsg {
  color: #F39696;
  margin: 0 0;
}

.link {
  cursor: pointer;
  color: #F39696;
}

.frame_red {
  border-color: #F39696 !important;
}

.link_red {
  cursor: pointer;
  color: #F39696;
}

.btnBase {
  height: 32px;
  padding: 7px 15px;
  display: inline-block;
  color: #636e72 !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none !important;
  background-color: #dfe6e9;
  border: 2px solid #636e72;
}

.btnBase > p {
  margin: 0px;
}

.btnBase:active {
  background-color: #FEFFBD;
}

.btnRed {
  background-color: white;
  color: #F39696;
  border-color: #F39696;
}

.btnNegative {
  border-color: #808080 !important;
  background-color: #808080 !important;
  color: #ffffff;
}

.btnGray {
  border-color: #808080;
  color: #808080;
}

#overlay {
  /*要素を重ねた時の順番*/
  z-index: 9999;
  /*画面全体を覆う設定*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color:rgba(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  /*画面の中央に要素を表示させる設定*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 9998;
  padding: 1em;
  /* background:#fff; */
  border-radius: 6px;
}

.modalBg {
  overflow-y: hidden;
}

.bar {
  margin: 0px auto 5px;
  height: 2px;
  background-color: white;
  border: none;
}

.search_box {
  display: inline-block; /* なくても大丈夫だけど、念の為 */
  position: relative; /* 基準値とする */
  padding-bottom: 10px;
}

.search_box::before {
  content: ""; /* 疑似要素に必須 */
  width: 16px; /* アイコンの横幅 */
  height: 16px; /* アイコンの高さ */
  background: url(../app/img/icon_search.png) no-repeat center center/auto 100%; /* 背景にアイコン画像を配置 */
  display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  top: 8px; /* アイコンの位置。微調整してね */
  left: 5px; /* アイコンの位置。微調整してね */
}

.search_box input, .search_box input:focus {
  color: #ffffff;
  background-color: #323234;
  padding: 5px 0px 5px 2em; /* アイコンを設置するため左の余白を多めに指定*/
}

.search_box input::-moz-placeholder {
  color: rgb(166, 166, 166);
}

.search_box input::placeholder {
  color: rgb(166, 166, 166);
}

.score_num {
  /* display: inline-block; */
  /* content: ""; */
  width: 60px;
  height: 90px;
  display: inline-block;
  /* cursor:pointer; */
  background-image: url("../img/score_num.png");
  background-size: 360px 180px;
  background-repeat: no-repeat;
  /* 1200 600  200 300 */
}

.score_num_0 {
  background-position: 0px 0px;
}

.score_num_1 {
  background-position: -60px 0px;
}

.score_num_2 {
  background-position: -120px 0px;
}

.score_num_3 {
  background-position: -180px 0px;
}

.score_num_4 {
  background-position: -240px 0px;
}

.score_num_5 {
  background-position: -300px 0px;
}

.score_num_6 {
  background-position: 0px -90px;
}

.score_num_7 {
  background-position: -60px -90px;
}

.score_num_8 {
  background-position: -120px -90px;
}

.score_num_9 {
  background-position: -180px -90px;
}

.score_num_none {
  background-position: -240px -90px;
}

.score_num_ten {
  background-position: -300px -90px;
}

.play_chara {
  /* display: inline-block; */
  /* content: ""; */
  margin-bottom: 0px;
  width: 60vw;
  height: 12vw;
  display: inline-block;
  /* cursor:pointer; */
  background-image: url("../app/img/play_chara.png");
  background-size: 60vw 60vw;
  background-repeat: no-repeat;
  /* 1200 600  200 300 */
}

.play_chara_init {
  background-position: 0vw 0vw;
}

.play_chara_normal {
  background-position: 0vw -12vw;
}

.play_chara_correct {
  background-position: 0vw -24vw;
}

.play_chara_incorrect {
  background-position: 0vw -36vw;
}

.play_chara_result {
  background-position: 0vw -48vw;
}

.backgroundBase {
  background-image: url("../app/img/bg_normal.png");
  background-repeat: repeat;
}

.backgroundCorrect {
  background-image: url("../app/img/bg_correct.png");
  background-repeat: repeat;
}

.backgroundIncorrect {
  background-image: url("../app/img/bg_incorrect.png");
  background-repeat: repeat;
}
